$label-new-BGcolor: rgba(255, 255, 255, 0.6);
$label-new-color: rgb(255, 255, 255);
$header-background:linear-gradient(278.9deg, #FF00E5 -46.53%, #FF8A00 122.31%);
$header-title-color:rgba(255, 255, 255, 0.7);
$main-text-color:#444444;
$new-price-color:#444444;
$old-price-color:#CACACA;
$footer-background:#FFEADF;
$footer-text-color:#555555;