* {
    box-sizing: border-box;
}

@import 'variables';

// Wrapper
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 400px;
}

// header 
.card-header {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 147px;
    background: $header-background;
}

.card-header-label {
    margin-top: 20px;
    align-self: flex-end;
    background: $label-new-BGcolor;
    
    h4 {
        padding: 4px 13px;
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: $label-new-color;
    }
}
.card-header-title {
    padding: 20px 0px 0px 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: $header-title-color;
}



// main
.card-main { 
    display: flex;
    flex-direction: column;
    background: $main-background;
}

.card-main-content {
    padding: 20px 32px 25px;
    
    p {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: $main-text-color;
    }
    
    p:last-child {
        padding-top: 15px;
        font-size: 14px;
    }
}
.card-main-price {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    span {
        padding-right: 32px;
        font-weight: bold;
        font-size: 42px;
        line-height: 49px;
        color: $new-price-color;
    }
    
    span:last-child {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 100;
        color: $old-price-color;
        padding-bottom: 10px;
        
        hr {
            margin-top: 18px;
            position: absolute;
            width: 100%;
            border: 1px solid $old-price-color;
        }
    }
}

.card-footer {
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 10px 10px;
    background: $footer-background;
    padding: 18px 0px;
   
    p {
        margin: 0;
        padding: 0px 10px 0px 32px;
        text-align: center;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: $footer-text-color;
        
        span {
            font-weight: 600;
            font-size: 14px;
        }
    }
    p:last-child {
        margin: 0;
        padding: 0px 32px 0px 10px;
    }
    hr {
        margin: 0;
        border: .5px solid;
    }
}


