* {
    box-sizing: border-box;
}

@import 'variables';

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container {
    width: 400px;
    border-radius: 10px;
}